= content_for :assets do
  = javascript_include_tag 'index'
.container-fluid
  %script#feature{:type=>"x-handlebars-template"}
    .row
      .col-xs-12.feature-image
        .feature-info-desktop.right
          %h3 {{feature.title}}
          %p {{feature.text}}
        %img.img-responsive{:src => "{{feature.image}}"}/
      .col-xs-12.feature-info-mobile
        %h3 {{feature.title}}
        %p {{feature.text}}
  .row#feature-placeholder
  / Services Grid
  %h1 Services
  %hr/
  .row#sectors-placeholder
    .col-xs-6.service.visible-xs
      %span.glyphicon.glyphicon-fire.perk
      %br/
      Fire Detection
      %br/
      %span.glyphicon.glyphicon-tint.perk
      %br/
      Fire Prevention
      %br/
      %span.glyphicon.glyphicon-retweet.perk
      %br/
      HVAC
      %br/
      %span.glyphicon.glyphicon-flash.perk
      %br/
      Power
      %br/
    .col-xs-6.service.visible-xs
      %span.glyphicon.glyphicon-wrench.perk
      %br/
      Plumbing
      %br/
      %span.glyphicon.glyphicon-scale.perk
      %br/
      Low Voltage
      %br/
      %span.glyphicon.glyphicon-duplicate.perk
      %br/
      Commissioning
      %br/
      %span.glyphicon.glyphicon-volume-up.gly-rotate-90.perk
      %br/
      Lighting
      %br/
    .col-xs-6.service.col-sm-2.hidden-xs
      %span.glyphicon.glyphicon-fire.perk
      %br/
      Fire Detection
      %br/
      %span.glyphicon.glyphicon-tint.perk
      %br/
      Fire Prevention
      %br/
      %span.glyphicon.glyphicon-retweet.perk
      %br/
      HVAC
      %br/
      %span.glyphicon.glyphicon-flash.perk
      %br/
      Power
      %br/
      %span.glyphicon.glyphicon-wrench.perk
      %br/
      Plumbing
      %br/
      %span.glyphicon.glyphicon-scale.perk
      %br/
      Low Voltage
      %br/
      %span.glyphicon.glyphicon-duplicate.perk
      %br/
      Commissioning
      %br/
      %span.glyphicon.glyphicon-volume-up.gly-rotate-90.perk
      %br/
      Lighting
      %br/

    %script#sectors{:type=>"x-handlebars-template"}
      :plain
        {{#each halves}}
      .sectors.col-sm-5.hidden-xs
        :plain
          {{#each this}}
        %a{:type=>"button", "data-toggle"=>"modal", "data-target"=>".{{safename}}-modal-sm"}
          .sector
            %img{:src => "{{image}}"}
            %span {{name}}
        .modal{:class => "{{safename}}-modal-sm", :role =>"dialog"}
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                %a.close{:type=>"button", "data-dismiss"=>"modal"} &times;
              .modal-body
                .carousel.slide{:id => "{{safename}}-Carousel-sm","data-ride" => "carousel"}
                  %ol.carousel-indicators
                    %li.active{"data-target"=>"{{safename}}-Carousel-sm", "data-slide-to"=>"0"}
                    %li{"data-target"=>"{{safename}}-Carousel-sm", "data-slide-to"=>"1"}
                    %li{"data-target"=>"{{safename}}-Carousel-sm", "data-slide-to"=>"2"}
                    %li{"data-target"=>"{{safename}}-Carousel-sm", "data-slide-to"=>"3"}
                  .carousel-inner{:role => "listbox"}
                    :plain
                      {{#each projects}}
                    .item{:class => "###"}
                      %img{:src => "{{image}}"}
                      .carousel-caption
                        %div {{title}}
                        %div {{sqft}}sqft
                        %div {{price}}
                    :plain
                      {{/each}}
                %a.left.carousel-control{:href => "\#{{safename}}-Carousel-sm", :role=>"button","data-slide" => "prev"} 
                  %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
                  %span.sr-only
                    Previous
                %a.right.carousel-control{:href => "\#{{safename}}-Carousel-sm", :role=>"button","data-slide" => "next"} 
                  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                  %span.sr-only
                    Next
        :plain
          {{/each}}
      :plain
        {{/each}}

    /Mobile/bootstrap-xs sectors section  
    .sectors.col-xs-12.visible-xs#mobile-sectors-placeholder
    %script#mobile-sectors{:type=>"x-handlebars-template"}
      %hr/
      :plain
        {{#each sectors}}
      %a{:type=>"button", "data-toggle"=>"modal", "data-target"=>"\#{{safename}}-modal-xs"}
        .sector
          %img{:src => "{{image}}"}
          %span {{name}}
      .modal{:id => "{{safename}}-modal-xs", :role =>"dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %a.close{:type=>"button", "data-dismiss"=>"modal"} &times;
            .modal-body
              .carousel.slide{:id => "{{safename}}-Carousel-xs","data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li.active{"data-target"=>"{{safename}}-Carousel-xs", "data-slide-to"=>"0"}
                  %li{"data-target"=>"{{safename}}-Carousel-xs", "data-slide-to"=>"1"}
                  %li{"data-target"=>"{{safename}}-Carousel-xs", "data-slide-to"=>"2"}
                  %li{"data-target"=>"{{safename}}-Carousel-xs", "data-slide-to"=>"3"}
                .carousel-inner{:role => "listbox"}
                  :plain
                    {{#each projects}}
                  /Need to find a way to make have activated attribute (or class?)
                  .item{:class => "###"}
                    %img{:src => "{{image}}"}
                    .carousel-caption
                      %div {{title}}
                      %div {{sqft}}sqft
                      %div {{price}}
                  :plain
                    {{/each}}
              %a.left.carousel-control{:href => "\#{{safename}}-Carousel-xs", :role=>"button","data-slide" => "prev"} 
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
                %span.sr-only
                  Previous
              %a.right.carousel-control{:href => "\#{{safename}}-Carousel-xs", :role=>"button","data-slide" => "next"} 
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                %span.sr-only
                  Next
      :plain 
        {{/each}}

